*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(255, 227, 203, 0.7)0%,rgba(255, 255, 255, 0.7)70%), url('background.jpg');
    background-position: center;
    background-size: cover;
    height: 109vh;
}   

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 60px;
  }

.secondaudio {
    padding-left: 10px;
  }